<div
  class="relapse"
  data-controller="accordion"
  data-accordion-persist-value="false">

  <!-- PANEL 1 -->

  <button type="button" class="relapse-btn">Opens Fold #1</button>

  <div class="relapse-fold">
    This is Fold #1
  </div>

  <!-- PANEL 2 -->

  <a href=".." type="button" class="relapse-btn">Opens Fold #2</a>

  <div class="relapse-fold">
    This is Fold #1
  </div>

  <!-- PANEL 3 -->

  <button type="button" class="relapse-btn">Opens Fold #3</button>

  <div class="relapse-fold">
    This is Fold #1
  </div>

</div>
