<div class="page-pad">Product(s) Carousel</div>

{% schema %}
  {
    "name": "Product(s) Carousel",
    "class": "w-full",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Product(s) Carousel"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Call To Action"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }, {
        "type": "header",
        "content": "Colors"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }, {
        "type": "color",
        "id": "textColor",
        "label": "Text Color"
      }
    ],
    "presets": [
      {
        "name": "Product(s) Carousel"
      }
    ]
  }
{% endschema %}