<div class="flex items-center justify-center w-full h-full">
  <div class="inline-block h-full w-full animate-[spinner-grow_0.75s_linear_infinite] rounded-full bg-accent align-[-0.125em] text-danger opacity-0 motion-reduce:animate-[spinner-grow_1.5s_linear_infinite]" role="status">
    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
  </div>
</div>