{% comment %} 
Params - 
slides {HTML as String} - child slides.
options {Script Element w/ JSON body} - should be json structure for custom options.

wrapper {String} - classes to be added to embla wrapper
container {String} - classes to be added to the embla container
{% endcomment %}

{%- liquid 
    unless options
        capture options
            render 'embla-carousel-default-settings'
        endcapture
    endunless

    unless slides
        assign slides = ''
    endunless
-%}

<div class="embla overflow-hidden" data-js="embla-carousel">
  {{ options }}
  <div class="embla__container flex [&_.embla-slide]:flex-shrink-0 [&_.embla-slide]:flex-grow-0">
    {{ slides }}
  </div>
</div>