<div class="text-center text-xs [&_a]:font-bold" style="background-color: {{ section.settings.background }}; color: {{ section.settings.text_color }}">
  {% if section.blocks.size > 1 %}
    <div class="w-full">
      {% capture slides %}
        {% for block in section.blocks %}
          <div class="py-2 embla-slide w-full">{{ block.settings.title }}</div>
        {% endfor %}
      {% endcapture %}

      {% render 'embla-carousel' with slides: slides %}
    </div>
  {% else %}
    {%-  liquid 
       assign block = section.blocks[0]
    -%}
    <div class="w-full py-2">
      {{ block.settings.title }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "class": "announcement-bar",
    "settings": [
      {
        "type": "header",
        "content": "Announcement Bar"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background Color",
        "info": "Background color for bar"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "info": "Color for text inside bar"
      }
    ],
    "blocks": [
      {
        "type": "message",
        "name": "Message",
        "settings": [
          {
            "type": "header",
            "content": "Announcement Message"
          }, {
            "type": "richtext",
            "id": "title",
            "label": "Message"
          }
        ]
      }
    ]
  }
{% endschema %}